<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--<hibernate-configuration>
    <session-factory>
      <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">12345</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">IDOMPD</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    </session-factory>
</hibernate-configuration>-->
<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL JDBC driver -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- Credenciales PostgreSQL -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bd_nc_sad</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>
        <!-- Dialecto específico de PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Otras propiedades recomendadas -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

    </session-factory>
</hibernate-configuration>
